body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.container {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    margin-top: 20px;
}
/* Estilos para el botón de inicio */
.boton-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 10%;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}


